<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="post" id="contactForm">
        <label for="name">color:</label>
        <input type="text" id="name" name="colour" required>
        <label for="speed">speed:</label>
        <input type="text" id="email" name="speed" required>
        <label for="AirBag">AirBag :</label>
        <input type="text" id="email" name="AirBag" required>
        <label for="FuelTyp">FuelType:</label>
        <input type="text" id="email" name="FuelType" required>
        <label for="FuelTyp">Bluetooth,:</label>
        <input type="text" id="email" name="Bluetooth" required>
        <label for="AutoPilot">AutoPilot:</label>
        <input type="text" id="email" name="AutoPilot" required>
        <label for="RemoteStart">RemoteStart:</label>
        <input type="text" id="email" name="RemoteStart" required>
        <label for="model">model:</label>
        <input type="text" id="email" name="model" required>
        <label for="engine_Type">engine_Type:</label>
        <input type="text" id="email" name="engine_Type" required>
        <label for="total_seats">total_seats:</label>
        <input type="text" id="email" name="total_seats" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>